<table>
    <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Color</th>
        <th>Description</th>
    </tr>
    <tr>
        <th><%= cat.name %></th>
        <th><%= cat.birth_date %></th>
        <th><%= cat.age %></th>
        <th><%= cat.sex %></th>
        <th><%= cat.color %></th>
        <th><%= cat.description %></th>
    </tr>
</table>